.product-image {
    max-width: 100%; /* Para evitar que exceda el ancho del contenedor */
    max-height: 200px; /* Ajusta el alto máximo según tus necesidades */
    object-fit: cover; /* Mantiene la proporción recortando el exceso si es necesario */
    display: block; /* Opcional: asegura un buen comportamiento dentro del mat-card */
    margin: 0 auto; /* Opcional: centra la imagen */
  }